<h3>Welcome to my CRUD-APP</h3>
<p>
<%= link_to 'Add Article', new_article_path %>
</p>
<h4>List of Article</h4>
<%@article.each do |f|%>
    <div>
        <%= f.title %>
        <%= link_to "Show", article_path(f)%>

    </div>
    <br>
<% end %>
